<!DOCTYPE html>
<html>
  <head>
    <title>Jean Queval</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Impact">
    <link rel="stylesheet" href="police/font.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="app.js"></script>
    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>
    <script src="https://npmcdn.com/angular2@2.0.0-beta.14/es6/dev/src/testing/shims_for_IE.js"></script>   
     
    <script src="https://code.angularjs.org/2.0.0-beta.14/angular2-polyfills.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.14/Rx.umd.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.14/angular2-all.umd.dev.js"></script>

    <script src='app/app.component.js'></script>
    <script src='app/main.js'></script> -->

  </head>

  <!-- 3. Display the application -->
  <body ng-app="myApp" ng-controller="MainCtrl">
    <header class="header_main">
      <h1 class="titre_header">
        Who am I?
      </h1>
      <div class="profile_picture">
        
      </div>
      <div class="container_langues">
        <div class="conteneur_choix_langues">
          <ul>
            <li class="un_choix_langue sous_titre" ng-repeat="langage in listLangages" ng-model="chosenLanguage" ng-click="changeLangage(langage)" ng-class="{active : isSelected(langage)}">
              <p>{{langage}}</p>
            </li>
          </ul>
        </div>
      </div>
    </header> 
    <div class="contenu grand_ecran" >
      <div class="haut_de_page">
        <!--<div class="presentations">
          <div class="bonjour">
             Bonjour!
          </div>
          <div class="presentation_texte texte">
            Actuellement en dernier semestre d'étude d'ingénieur informatique, je cherche un stage d'ingénieur en data mining de septembre 2016 à février 2017. Passionné de technologies et de mathématiques, je souhaite m'investir énormément dans ce stage dans l'optique d'une future embauche.
          </div>
        </div> -->
        <div class="grand_titre">
          <div class="ligne1"> 
            <span class="nom_prenom">{{TEXT.NOM_PRENOM}}</span> <br> {{TEXT.TITRE_LIGNE_2}}<br> {{TEXT.TITRE_LIGNE_3}}
          </div> 
        </div>
      </div>
      <div class="informations">
        <div class="colonne_gauche">
          <div class="photo_contact case">
            <img src="pictures/photo.JPG" class="photo" ng-animate="'animate'" ng-class="{hide_photo : hidePhoto}"/> 
            <div class="conteneur_contact">
              <div class="contact texte">
                <div class="titre">
                  {{TEXT.TITRE_CONTACT}}
                </div>
                <div class="les_contact">
                  <div class="telephone"> 
                    <div class="icone">
                      
                    </div>
                    <div class="text">
                      {{TEXT.NUMERO_TEL}}
                    </div>
                  </div>
                  <div class="mail">
                    <div class="icone">
                      
                    </div>
                    <div class="text">
                      {{TEXT.ADRESSE_MAIL}}
                    </div>
                  </div>
                  <div class="git">
                    <div class="icone">
                      GIT
                    </div>
                    <div class="text">
                      {{TEXT.ADRESSE_GIT}}
                    </div>
                  </div>
                  <div class="CV">
                    <div class="icone">
                      CV
                    </div>
                    <div class="text">
                      {{TEXT.ADRESSE_CV}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="formations case">
            <div class="titre_formation titre">
              {{TEXT.TITRE_ETUDE}}
            </div>
            <div class="uneforma">
              <div class="sous_titre">
                {{TEXT.TITRE_ETUDE_INFORMATIQUE}}
              </div>
              <div class="date_titre">
                2013 - 2016
              </div>
              <div class="description_conteneur">
                <div class="une_incone">
                  +
                </div>
                <div class="texte">
                  {{TEXT.INFORMATQIQUE_1}}
                </div>
              </div>
              <div class="description_conteneur">
                <div class="une_incone">
                  +
                </div>
                <div class="texte">
                  {{TEXT.INFORMATQIQUE_2}}
                </div>
              </div>
              <div class="description_conteneur">
                <div class="une_incone">
                  +
                </div>
                <div class="texte">
                  {{TEXT.INFORMATQIQUE_3}}
                </div>
              </div>
              <div class="description_conteneur">
                <div class="une_incone">
                  +
                </div>
                <div class="texte">
                  {{TEXT.INFORMATQIQUE_4}}
                </div>
              </div>
            </div>
            <div class="uneforma">
              <div class="sous_titre">
                {{TEXT.TITRE_PREPA}}
              </div>
              <div class="date_titre">
                2011 - 2016
              </div>
              <div class="description_conteneur">
                <div class="une_incone">
                  +
                </div>
                <div class="texte">
                  {{TEXT.PREPA_1}}
                </div>
              </div>
              <div class="description_conteneur">
                <div class="une_incone">
                  +
                </div>
                <div class="texte">
                  {{TEXT.PREPA_2}}
                </div>
              </div>
            </div>
            <div class="uneforma">
              <div class="sous_titre">
                {{TEXT.TITRE_BAC}}
              </div>
              <div class="date_titre">
                2011
              </div>
              <div class="description_conteneur">
                <div class="une_incone">
                  +
                </div>
                <div class="texte">
                  {{TEXT.TEXTE_BAC}}
                </div>
              </div>
            </div>
          </div>
          <div class="international case">
            <div class="titre">
              {{TEXT.TITRE_INTERNATIONNAL}}
            </div>
            <div class="conteneur_langues">
              <div class="conteneur_une_langue ">
                <div class="sous_titre">
                  {{TEXT.ENGLISH}}
                </div>
                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-bar" style="background: #88cd2a; width: 90%"></div>
                </div>
              </div>

              <div class="conteneur_une_langue ">
                <div class="sous_titre">
                  {{TEXT.SPANISH}}
                </div>
                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-bar" style="background: #F7A53B; width: 90%"></div>
                </div>
              </div>

              <div class="conteneur_une_langue ">
                <div class="sous_titre">
                  {{TEXT.POLISH}}
                </div>
                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-bar" style="background: #6ADCFA; width: 65%"></div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="Interet case">
            <div class="conteneur_un_type_competence_large">
              <div class="titre">
                {{TEXT.TITRE_OTHERS}}
              </div>
              <div class="liste_interets texte">
                {{TEXT.TEXTE_OTHERS_1}}
                <br><br>
                {{TEXT.TEXTE_OTHERS_2}}
                <br>
                {{TEXT.TEXTE_OTHERS_3}}
              </div>
            </div>
          </div>
        </div>
        <div class="colonne_droite"> 
          <div class="Experiences case">
            <div class="titre">
              {{TEXT.TITRE_EXPERIENCES}}
            </div>
            <div class="conteneur_liste_et_fleche">
              <img src="pictures/flecheSimple.png" class="fleche_et_images"/>
              <div class="liste_experiences">
                <div class="une_experience">
                  <div class="sous_titre">
                    {{TEXT.ST_EXPERIENCE_1}}
                  </div>
                  <div class="date_titre">
                    {{TEXT.DATE_EXPERIENCE_1}}
                  </div>
                  <div class="description_experience texte">
                    {{TEXT.TEXTE_EXPERIENCE_1}}
                  </div>
                </div>
                <div class="une_experience">
                  <div class="sous_titre">
                    {{TEXT.ST_EXPERIENCE_2}}
                  </div>
                  <div class="date_titre">
                    {{TEXT.DATE_EXPERIENCE_2}}
                  </div>
                  <div class="description_experience texte">
                    {{TEXT.TEXTE_EXPERIENCE_2_1}}
                    <br>
                    {{TEXT.TEXTE_EXPERIENCE_2_2}}
                    <br>
                    {{TEXT.TEXTE_EXPERIENCE_2_3}}
                  </div>
                </div>
                <div class="une_experience">
                  <div class="sous_titre">
                    {{TEXT.ST_EXPERIENCE_3}}
                  </div>
                  <div class="date_titre">
                    {{TEXT.DATE_EXPERIENCE_3}}
                  </div>
                  <div class="description_experience texte">
                    {{TEXT.TEXTE_EXPERIENCE_3}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="techniques case">
            <div class="titre">
              {{TEXT.TITRE_COMPETENCE_1}}
            </div>
            <div class="conteneur_competence">
              <div class="ligne">
                <div class="conteneur_un_type_competence">
                  <div class="titre_competence sous_titre">
                    {{TEXT.ST_COMPETENCE_1}}
                  </div>
                  <div class="liste_competence texte">
                    {{TEXT.TEXTE_COMPETENCE_1}}
                  </div>
                </div>
                <div class="conteneur_un_type_competence">
                  <div class="titre_competence sous_titre">
                    {{TEXT.ST_COMPETENCE_2}}
                  </div>
                  <div class="liste_competence texte">
                    {{TEXT.TEXTE_COMPETENCE_2}}
                  </div>
                </div>
              </div>
              <div class="ligne">
                <div class="conteneur_un_type_competence">
                  <div class="titre_competence sous_titre">
                    {{TEXT.ST_COMPETENCE_3}}
                  </div>
                  <div class="liste_competence texte">
                    {{TEXT.TEXTE_COMPETENCE_3}} 
                  </div>
                </div>
                <div class="conteneur_un_type_competence">
                  <div class="titre_competence sous_titre">
                    {{TEXT.ST_COMPETENCE_4}}
                  </div>
                  <div class="liste_competence texte">
                    {{TEXT.TEXTE_COMPETENCE_4}}
                  </div>
                </div>
              </div>
              <div class="ligne">
                <div class="conteneur_un_type_competence_large">
                  <div class="titre_competence sous_titre">
                    {{TEXT.TITRE_TECHNIQUES}}
                  </div>
                  <div class="liste_competence texte">
                    {{TEXT.TEXTE_TECHNIQUES}}
                  </div>
                </div>
              </div>
                
            </div>
            
          </div>
          <div class="General case">
            <div class="conteneur_un_type_competence_large">
              <div class="titre">
                {{TEXT.TITRE_GENERAL}}
              </div>
              <div class="liste_competence">
                <div class="ampoule"> 
                  <img src="pictures/ampoule.png" class="icone"/>   
                  <div class="texte">
                    {{TEXT.TEXTE_GENERAL_1}}
                  </div>
                </div>
                <div class="calendrier">
                  <img src="pictures/calendrier.png" class="icone"/>    
                  <div class="texte">
                    {{TEXT.TEXTE_GENERAL_2}}
                  </div>
                </div>
                <div class="sociale">
                  <img src="pictures/bulle.png" class="icone"/>    
                  <div class="texte">
                    {{TEXT.TEXTE_GENERAL_3}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenu petit_ecran">
      <a href="pictures/EnglishCV.png" target="blank">
        <img src="pictures/EnglishCV.png" alt="my resum" href>
      </a>
    </div>
  </body>

</html>